<section>
    Frequently Asked Questions
  
  Here are some of our FAQs. If you have any other questions you’d like 
  answered please feel free to email us.

  <details>
    <summary>What is Bookmark? <ion-icon name="chevron-down-outline"></ion-icon></summary>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.</p>
  </details>

    <details>
        <summary>How can I request a new browser? <ion-icon name="chevron-down-outline"></ion-icon></summary>
        <p>
            Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa, ultricies non ligula.
            Suspendisse imperdiet. Vivamus luctus eros aliquet convallis ultricies. Mauris augue massa,
            ultricies non ligula. Suspendisse imperdie tVivamus luctus eros aliquet convallis ultricies.
            Mauris augue massa, ultricies non ligula. Suspendisse imperdiet.
        </p>
    </details>

    <details>
        <summary>Is there a mobile app? <ion-icon name="chevron-down-outline"></ion-icon></summary>
        <p> Sed consectetur quam id neque fermentum accumsan. Praesent luctus vestibulum dolor, ut condimentum urna vulputate eget. Cras in ligula quis est pharetra mattis sit amet pharetra purus. Sed sollicitudin ex et ultricies bibendum.</p>
    </details>

  <!-- Question 4 -->
  What about other Chromium browsers?

  <!-- Answer 4 -->
  Integer condimentum ipsum id imperdiet finibus. Vivamus in placerat mi, at euismod dui. Aliquam 
  vitae neque eget nisl gravida pellentesque non ut velit.

  More Info
</section>